<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddExercise</title>
</head>
<body>
    <div th:text="${workout.getName()}"></div>
    <div th:if="${doneExercises} != null">
        <ul>
            <li th:each="doneExercise : ${doneExercises}">
                <div>
                    <th:block th:text="${doneExercise.getExercise().getName()}"></th:block>
                    <ul>
                        <li th:each="set : ${doneExercise.sets}">
                            <th:block th:text="${set.reps}"></th:block>
                            <th:block th:text="${set.weight}"></th:block>
                       </li>
                        <li>
                            <form action="/add-set" method="POST">
                                <input type="hidden" th:value="${doneExercise.getId()}" name="doneExerciseId">
                                <input type="hidden" th:value="${workout.getId()}" name="workoutId">
                                <span>Reps:</span>
                                <input type="number" name="reps" min="1">
                                <span>Weight:</span>
                                <input type="number" name="weight" step="0.1" min="1">
                                <button type="submit">Add set</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <form action="/workout/add-exercise" method="post">

        <input type="hidden" th:value="${workout.getWorkoutId()}" name="workoutId">
        <select name="exerciseId" class="form-control">
            <option th:if="${exercises} != null"
                    th:each="exercise : ${exercises}"
                    th:value="${exercise.getId()}"
                    th:text="${exercise.getName()}">
            </option>
        </select>
        <button type="submit">Add exercise</button>
    </form>

    <form action="/workout/complete-workout" method="POST">
        <input type="hidden" th:value="${workout.getWorkoutId()}" name="workoutId">
        <button type="submit">Complete workout</button>
    </form>

</body>
</html>