<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Track workout</title>
</head>
<body>
<div th:text="${workout.getName()}"></div>

<div th:if="${isPreviousWorkout} != null">
    <ul>
        <li th:each="doneExercise : ${doneExercises}">
            <th:block th:text="${doneExercise.getExercise().getName()}"></th:block>
        </li>
    </ul>
</div>

<form action="/existingworkout/add-exercise" method="post">

    <input type="hidden" th:value="${workout.getWorkoutId()}" name="workoutId">
    <div th:if="${isPreviousWorkout} != null">

    </div>
    <select name="exerciseId" class="form-control">
        <option th:if="${exercises} != null"
                th:each="exercise : ${exercises}"
                th:value="${exercise.getId()}"
                th:text="${exercise.getName()}">
        </option>
    </select>
    <button type="submit">Add exercise</button>
</form>

<form action="/workout/complete-workout" method="POST">
    <input type="hidden" th:value="${workout.getWorkoutId()}" name="workoutId">
    <button type="submit">Complete workout</button>
</form>

</body>
</html>