<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

    </style>
</head>
<body>
    <div th:text="${user.getUsername()}"></div>

    <h3>Workouts Done</h3>

    <ul>
        <li th:each="workout : ${workouts}">
            <th:block th:text="${workout.name}"></th:block> <th:block th:text="${workout.workoutDate}"></th:block>
            <th:block th:text="${workout.workoutId}"></th:block>
            <ul>
                <li th:each="exercise : ${workout.getExercises()}">
                    <th:block th:text="${exercise.getId()}"></th:block>
                </li>
            </ul>
            <th:block>
                <form method="post" th:action="@{'/workout/delete/{id}' (id=${workout.getWorkoutId()})}">
                    <button type="submit">

                        <i>Delete</i>
                    </button>
                </form>
            </th:block>
        </li>
    </ul>
</body>
</html>